<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.dao.srldao.UserInfoMapper">
	
	<!-- 查找所有用户
	List<UserInfo> getAll(); -->
	<select id="login" resultType="userInfo">
		select * from userinfo where email = #{email} and password = #{password}
	</select>
	
	
	<!--检查邮箱唯一  -->
	<select id="checkemail" resultType="userInfo">
		select * from userinfo where email = #{email}
	</select>
	
	
	<!-- 注册 -->

	<insert id="regist" parameterType="userinfo">
	insert into userinfo (email,password) values(#{email},#{password})
	</insert>
	
</mapper>