<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.dao.bydao.byLocationMapper">

	<insert id="addLocation" useGeneratedKeys="true" keyProperty="locationid" parameterType="locationInfo">
		insert into location(province,city,county,floor) 
		values (#{province},#{city},#{county},#{floor})
	</insert>
	
	<select id="findLocation" parameterType="locationInfo" resultType="int">
		select locationid from location where province=#{province} and city=#{city} and county=#{county} and floor=#{floor}
	</select>
	
	<select id="showHouseLoction" parameterType="int" resultType="locationInfo">
		select province,city,county,floor from location where locationid=#{locationid}
	</select>
	
	<update id="editLocation" parameterType="locationInfo">
		update location set province=#{province},city=#{city},county=#{county},floor=#{floor}
		where locationid = #{locationid}
	</update>
	
	
</mapper>