._6wmcjak {
    overflow-wrap: break-word !important;
    font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC" !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 1.44444em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
}
._1mbjyje {
    display: block !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    overflow: hidden !important;
    border-bottom: 1px solid rgb(219, 219, 219) !important;
}
._1n53is3h {
    background-color: #fff !important;
    margin: 10px 0px !important;
    position: relative !important;
    overflow: hidden !important;
}
._1fxhuwm {
    vertical-align: middle !important;
    float: left !important;
}
._12q2dfk {
    height: 24px !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    max-width: 340px !important;
}
._ppgibgk {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC" !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
}
._1w545qg {
    float: left !important;
    height: 48px !important;
    padding-left: 12px !important;
}
._e296pg {
    position: relative !important;
}
._1mgxxu3 {
    background-color: var(--color-accent-light-gray, #D8D8D8) !important;
    border-radius: var(--border-profile-photo-border-radius, 50%) !important;
    border-width: var(--border-profile-photo-border-width, 2px) !important;
    border-color: var(--color-white, #ffffff) !important;
}
._91831o8 {
    background: var(--color-clear, transparent) !important;
}