.cf_comment_composer::placeholder {
	color: #cccdce;
}
@media ( min-width : 744px) {
	._1udzt2s {
		display: none !important;
	}
}

._1n53is3h {
	background-color: #fff !important;
	margin: 10px 0px !important;
	position: relative !important;
	overflow: hidden !important;
}

@media ( min-width : 744px) {
	._1n53is3h {
		margin: 32px 0px !important;
	}
}

@media ( max-width : 743px) {
	._1n53is3h {
		padding-left: 24px !important;
		padding-right: 24px !important;
	}
}

._1fxhuwm {
	vertical-align: middle !important;
	float: left !important;
}

._1w545qg {
	float: left !important;
	height: 48px !important;
	padding-left: 12px !important;
}

._12q2dfk {
	height: 24px !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
	max-width: 340px !important;
}

@media ( max-width : 743px) {
	._12q2dfk {
		max-width: 180px !important;
	}
}

._1g7z7i1 {
	vertical-align: middle !important;
	float: right !important;
	line-height: 50px !important;
	display: none !important;
}

@media ( min-width : 744px) {
	._1g7z7i1 {
		display: block !important;
	}
}

._ivcfar {
	color: #484848 !important;
	font-weight: bold !important;
	font-size: 24px !important;
	margin: 1em 0px !important;
}

@media ( max-width : 743px) {
	._ivcfar {
		padding-left: 24px !important;
		padding-right: 24px !important;
	}
}

._9j5k16 {
	font-size: 16px !important;
	font-weight: 300 !important;
	line-height: 1.7em !important;
	color: #565a5c !important;
	margin: 1.7em 0px !important;
}

@media ( max-width : 743px) {
	._9j5k16 {
		padding-left: 24px !important;
		padding-right: 24px !important;
	}
}

@media ( min-width : 744px) {
	._9j5k16 {
		font-size: 19px !important;
	}
}

@media ( max-width : 743px) {
	._n8f94g {
		padding-left: 24px !important;
		padding-right: 24px !important;
	}
}

._10z8m54 {
	display: inline !important;
	border: none !important;
	outline: none !important;
	background: transparent !important;
}

._67w4oa {
	text-align: center !important;
	margin: 80px 0px !important;
}

@media ( max-width : 743px) {
	._67w4oa {
		margin: 40px 0px !important;
	}
}

._vgp6uy {
	display: inline-block !important;
	background-color: #f8f8f8 !important;
	border: solid 1px #dbdbdb !important;
	border-radius: 100px !important;
	padding: 40px !important;
	cursor: pointer !important;
}

._wplk8i {
	width: 100% !important;
	background: #ffffff !important;
	padding-bottom: 20px !important;
}

._1tsnsrl {
	width: 100% !important;
	margin: 0 auto !important;
	padding: 0px 24px !important;
}

@media ( min-width : 744px) {
	._1tsnsrl {
		width: 655px !important;
		padding: 0px !important;
	}
}

@media ( max-width : 743px) {
	._6m9cp9 {
		display: none !important;
	}
}

._188wjts {
	/* position: fixed !important; */
	bottom: 0px !important;
	width: 100% !important;
	/* background: #fafafa !important; */
	/* border-top: solid 1px #f2f2f2 !important; */
	-webkit-transition: all .3s !important;
	-moz-transition: all .3s !important;
	transition: all .3s !important;
}

._1s7nct7 {
	display: block !important;
	padding: 10px 0px !important;
	text-align: center !important;
	text-decoration: none !important;
	color: #565a5c !important;
}

._ekctcu {
	margin: 0 auto !important;
	padding: 0 !important;
	width: 100% !important;
}

@media ( min-width : 744px) {
	._ekctcu {
		width: 660px !important;
	}
}

._1mgxxu3 {
	background-color: #D8D8D8 !important;
	border-radius: 50% !important;
	border-width: 2px !important;
	border-style: solid !important;
	border-color: #ffffff !important;
	vertical-align: middle !important;
	overflow: hidden !important;
	display: block !important;
}

@
supports (--custom: properties ){ .
	_1mgxxu3 {background-color: var(- -color-accent-light-gray, #D8D8D8)
		!important;
	border-radius: var(- -border-profile-photo-border-radius, 50%)
		!important;
	border-width: var(- -border-profile-photo-border-width, 2px) !important;
	border-color: var(- -color-white, #ffffff) !important;
}

}
._e296pg {
	position: relative !important;
}

._91831o8 {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	background: transparent !important;
	border: 0px !important;
	cursor: pointer !important;
	margin: 0px !important;
	padding: 0px !important;
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
	text-decoration: none !important;
	display: inline-block !important;
}

._91831o8:active {
	outline: 0px !important;
}

@
supports (--custom: properties ){ .
	_91831o8 {background: var(- -color-clear, transparent) !important;
}

}
._ppgibgk {
	margin: 0px !important;
	word-wrap: break-word !important;
	font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑",
		"Microsoft YaHei", "Heiti SC" !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	line-height: 1.2857142857142858em !important;
	color: #484848 !important;
}

._oa797bt {
	display: inline-block !important;
	margin: 0px !important;
	position: relative !important;
	text-align: center !important;
	text-decoration: none !important;
	-webkit-transition-property: background, border-color, color !important;
	-moz-transition-property: background, border-color, color !important;
	transition-property: background, border-color, color !important;
	-webkit-transition-duration: 0.2s !important;
	transition-duration: 0.2s !important;
	-webkit-transition-timing-function: ease-out !important;
	transition-timing-function: ease-out !important;
	width: auto !important;
	cursor: pointer !important;
	border-radius: 4px !important;
	font-size: 14px !important;
	line-height: 22px !important;
	letter-spacing: normal !important;
	font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑",
		"Microsoft YaHei", "Heiti SC" !important;
	text-transform: undefined !important;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	font-weight: 600 !important;
	border-width: 1px !important;
	border-style: solid !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	min-width: 48.54101966249685px !important;
	box-shadow: none !important;
	background: transparent !important;
	border-color: #008489 !important;
	color: #008489 !important;
}

._oa797bt::-moz-focus-inner {
	border: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
}

._oa797bt:focus::-moz-focus-inner {
	border: 1px dotted #000000 !important;
}

._oa797bt:-moz-focusring {
	outline-color: #000000 !important;
}

._oa797bt:disabled {
	background: transparent !important;
	border-color: rgba(0, 132, 137, 0.3) !important;
	color: rgba(0, 132, 137, 0.3) !important;
}

._oa797bt:focus {
	box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #717171, 0 0 0 6px
		rgba(255, 255, 255, 0.5) !important;
	outline: none !important;
	-webkit-transition: box-shadow 0.2s ease !important;
	-moz-transition: box-shadow 0.2s ease !important;
	transition: box-shadow 0.2s ease !important;
}

._oa797bt:focus::-moz-focus-inner {
	border: none !important;
	padding: 0px !important;
	margin: 0px !important;
}

._oa797bt:focus:focus::-moz-focus-inner {
	border: none !important;
}

._oa797bt:focus:-moz-focusring {
	outline: none !important;
}

@media ( prefers-reduced-motion ) {
	._oa797bt:focus {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		transition: none !important;
	}
}

._oa797bt:hover {
	background: transparent !important;
	border-color: #008489 !important;
	color: #008489 !important;
}

._oa797bt:active {
	background: rgba(0, 132, 137, 0.15) !important;
	border-color: #006a70 !important;
	color: #006a70 !important;
}

@
supports (--custom: properties ){ .
	_oa797bt {border-radius: var(- -border-button-small-border-radius, 4px)
		!important;
	font-size: var(- -font-button-small-font-size, 14px) !important;
	line-height: var(- -font-button-small-line-height, 22px) !important;
	letter-spacing: var(- -font-button-small-letter-spacing, normal)
		!important;
	font-family: var(- -font-button-small-font-family, Circular,
		"PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei",
		"Heiti SC") !important;
	text-transform: var(- -font-button-small-text-transform, undefined)
		!important;
	padding-top: var(- -spacing-button-small-vertical, 6px) !important;
	padding-bottom: var(- -spacing-button-small-vertical, 6px) !important;
	font-weight: var(- -font-book-font-weight, 600) !important;
	border-width: var(- -border-button-small-border-width, 1px) !important;
	padding-left: var(- -spacing-button-small-horizontal, 15px) !important;
	padding-right: var(- -spacing-button-small-horizontal, 15px) !important;
	box-shadow: var(- -shadow-button-level0-box-shadow, none) !important;
	background: var(- -color-buttons-secondary-color, transparent)
		!important;
	border-color: var(- -color-buttons-secondary-border, #008489) !important;
	color: var(- -color-buttons-secondary-text, #008489) !important;
}

._oa797bt:disabled {
	background: var(- -color-buttons-secondary-disabled-color, transparent)
		!important;
	border-color: var(- -color-buttons-secondary-disabled-border, rgba(0, 132, 137, 0.3))
		!important;
	color: var(- -color-buttons-secondary-disabled-text, rgba(0, 132, 137, 0.3))
		!important;
}

._oa797bt:hover {
	background: var(- -color-buttons-secondary-hover-color, transparent)
		!important;
	border-color: var(- -color-buttons-secondary-hover-border, #008489)
		!important;
	color: var(- -color-buttons-secondary-hover-text, #008489) !important;
}

._oa797bt:active {
	background: var(- -color-buttons-secondary-active-color, rgba(0, 132, 137, 0.15))
		!important;
	border-color: var(- -color-buttons-secondary-active-border, #006a70)
		!important;
	color: var(- -color-buttons-secondary-active-text, #006a70) !important;
}

}
._o9mka3v {
	font-size: 14px !important;
	line-height: 22px !important;
	letter-spacing: normal !important;
	font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑",
		"Microsoft YaHei", "Heiti SC" !important;
	text-transform: undefined !important;
	color: inherit !important;
	padding-top: undefined !important;
	padding-bottom: undefined !important;
}

@
supports (--custom: properties ){ .
	_o9mka3v {font-size: var(- -font-button-small-font-size, 14px)
		!important;
	line-height: var(- -font-button-small-line-height, 22px) !important;
	letter-spacing: var(- -font-button-small-letter-spacing, normal)
		!important;
	font-family: var(- -font-button-small-font-family, Circular,
		"PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei",
		"Heiti SC") !important;
	text-transform: var(- -font-button-small-text-transform, undefined)
		!important;
	padding-top: var(- -font-button-small-padding-top, undefined) !important;
	padding-bottom: var(- -font-button-small-padding-bottom, undefined)
		!important;
}

}
._8cf4xg8 {
	margin: 32px 0px 40px 0px !important;
}

@media ( max-width : 743px) {
	._8cf4xg8 {
		margin: 0px 0px !important;
		margin-bottom: 4px !important;
	}
}

._n3ene5 {
	position: relative !important;
	width: 100% !important;
	height: 0px !important;
	background-color: #bbb !important;
}

._1t4cz5qb {
	position: absolute !important;
	top: 0px !important;
	height: 100% !important;
	object-fit: cover !important;
	width: 100% !important;
}

._eim7ee {
	margin: 40px 0px !important;
}

@media ( max-width : 743px) {
	._eim7ee {
		margin-bottom: 4px !important;
		margin-top: 4px !important;
	}
}

._fuu2jzy {
	margin: 40px 0px !important;
}

@media ( max-width : 743px) {
	._fuu2jzy {
		margin-top: 4px !important;
	}
}

._5jezm2 {
	display: block !important;
	color: #565a5c !important;
}

._5jezm2:hover {
	color: #565a5c !important;
}

._1mklagj {
	padding: 16px 0px !important;
}

@media ( min-width : 744px) {
	._1mklagj {
		padding: 24px 0px !important;
	}
}

._hjn5n5 {
	display: block !important;
	overflow: hidden !important;
	position: relative !important;
}

._etmicw {
	float: left !important;
	width: 64px !important;
	text-align: center !important;
	height: 64px !important;
	display: table !important;
}

@media ( min-width : 744px) {
	._etmicw {
		height: 96px !important;
		width: 96px !important;
	}
}

._1s5dfqq {
	width: 64px !important;
	height: 64px !important;
}

@media ( min-width : 744px) {
	._1s5dfqq {
		height: 96px !important;
		width: 96px !important;
	}
}

._brrfk4f {
	position: absolute !important;
	margin-left: 80px !important;
	padding-right: 64px !important;
	font-size: 14px !important;
	font-weight: 300 !important;
	height: 64px !important;
	display: table !important;
}

@media ( min-width : 744px) {
	._brrfk4f {
		font-size: 17px !important;
		height: 96px !important;
		margin-left: 112px !important;
	}
}

@media ( max-width : 743px) {
	._brrfk4f {
		display: none !important;
	}
}

._17u98ky {
	display: table-cell !important;
	vertical-align: middle !important;
}

._57dxyx {
	overflow: hidden !important;
	max-height: 3em !important;
	font-weight: 500 !important;
}

._1aciuznf {
	position: absolute !important;
	margin-left: 80px !important;
	padding-right: 64px !important;
	font-size: 14px !important;
	font-weight: 300 !important;
	height: 64px !important;
	display: table !important;
}

@media ( min-width : 744px) {
	._1aciuznf {
		font-size: 17px !important;
		height: 96px !important;
		margin-left: 112px !important;
		display: none !important;
	}
}

._1mfsr54 {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
	right: 0px !important;
	bottom: 0px !important;
}

@
keyframes keyframe_1vunhnd {
	from {opacity: 0.1;
}

to {
	opacity: 0.3;
}

}
._y2z1gk {
	-webkit-animation-direction: alternate !important;
	animation-direction: alternate !important;
	-webkit-animation-duration: 1s !important;
	animation-duration: 1s !important;
	-webkit-animation-fill-mode: forwards !important;
	animation-fill-mode: forwards !important;
	-webkit-animation-iteration-count: infinite !important;
	animation-iteration-count: infinite !important;
	-webkit-animation-name: keyframe_1vunhnd !important;
	animation-name: keyframe_1vunhnd !important;
	-webkit-animation-timing-function: ease-in-out !important;
	animation-timing-function: ease-in-out !important;
	background-color: currentColor !important;
	display: inline-block !important;
	position: relative !important;
}

@media ( prefers-reduced-motion ) {
	._y2z1gk {
		-webkit-animation: none !important;
		animation: none !important;
		opacity: 0.1 !important;
	}
}

._1k03xgts {
	color: #008489 !important;
	font: inherit !important;
	font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑",
		"Microsoft YaHei", "Heiti SC" !important;
	text-decoration: none !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	background: transparent !important;
	border: 0px !important;
	cursor: pointer !important;
	margin: 0px !important;
	padding: 0px !important;
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
	text-align: left !important;
}

._1k03xgts:hover {
	text-decoration: underline !important;
	color: #008489 !important;
}

._1k03xgts:focus {
	text-decoration: underline !important;
}

._1k03xgts:active {
	outline: 0px !important;
	color: #006C70 !important;
}

@
supports (--custom: properties ){ .
	_1k03xgts {color: var(- -color-text-link, #008489) !important;
	font-family: var(- -font-font_family, Circular, "PingFang-SC",
		"Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC") !important;
	text-decoration: var(- -font-link-text-decoration, none) !important;
}

._1k03xgts:hover {
	text-decoration: var(- -font-link-text-decoration-hover, underline)
		!important;
	color: var(- -color-text-link-hover, #008489) !important;
}

._1k03xgts:focus {
	text-decoration: var(- -font-link-text-decoration-focus, underline)
		!important;
}

._1k03xgts:active {
	color: var(- -color-text-link-active, #006C70) !important;
}

}
._morpuby {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center !important;
	white-space: nowrap !important;
	display: inline-block !important;
}

@
keyframes keyframe_1cjd84a { 0%, 80%, 100%{
	opacity: 0;
}

30%,
50%{
opacity
:
1;
}
}
._y4op1uy {
	border-radius: 100% !important;
	display: inline-block !important;
	-webkit-animation-name: keyframe_1cjd84a !important;
	animation-name: keyframe_1cjd84a !important;
	-webkit-animation-duration: 0.8s !important;
	animation-duration: 0.8s !important;
	-webkit-animation-iteration-count: infinite !important;
	animation-iteration-count: infinite !important;
	-webkit-animation-timing-function: linear !important;
	animation-timing-function: linear !important;
	-webkit-animation-fill-mode: both !important;
	animation-fill-mode: both !important;
	vertical-align: middle !important;
	width: 12px !important;
	height: 12px !important;
	margin-right: 8px !important;
	background-color: #008489 !important;
	-webkit-animation-delay: -0.3s !important;
	animation-delay: -0.3s !important;
}

@
supports (--custom: properties ){ .
	_y4op1uy {background-color: var(- -color-loader-dots-default, #008489)
		!important;
}

}
._jrnicpz {
	border-radius: 100% !important;
	display: inline-block !important;
	-webkit-animation-name: keyframe_1cjd84a !important;
	animation-name: keyframe_1cjd84a !important;
	-webkit-animation-duration: 0.8s !important;
	animation-duration: 0.8s !important;
	-webkit-animation-iteration-count: infinite !important;
	animation-iteration-count: infinite !important;
	-webkit-animation-timing-function: linear !important;
	animation-timing-function: linear !important;
	-webkit-animation-fill-mode: both !important;
	animation-fill-mode: both !important;
	vertical-align: middle !important;
	width: 12px !important;
	height: 12px !important;
	margin-right: 8px !important;
	background-color: #008489 !important;
	-webkit-animation-delay: -0.15s !important;
	animation-delay: -0.15s !important;
}

@
supports (--custom: properties ){ .
	_jrnicpz {background-color: var(- -color-loader-dots-default, #008489)
		!important;
}

}
._1y4uxhr8 {
	border-radius: 100% !important;
	display: inline-block !important;
	-webkit-animation-name: keyframe_1cjd84a !important;
	animation-name: keyframe_1cjd84a !important;
	-webkit-animation-duration: 0.8s !important;
	animation-duration: 0.8s !important;
	-webkit-animation-iteration-count: infinite !important;
	animation-iteration-count: infinite !important;
	-webkit-animation-timing-function: linear !important;
	animation-timing-function: linear !important;
	-webkit-animation-fill-mode: both !important;
	animation-fill-mode: both !important;
	vertical-align: middle !important;
	width: 12px !important;
	height: 12px !important;
	margin-right: 8px !important;
	background-color: #008489 !important;
}

@
supports (--custom: properties ){ .
	_1y4uxhr8 {background-color: var(- -color-loader-dots-default, #008489)
		!important;
}

}
._2h22gn {
	margin-left: -8px !important;
	margin-right: -8px !important;
}

._2h22gn:before {
	content: " " !important;
	display: table !important;
}

._2h22gn:after {
	content: " " !important;
	display: table !important;
	clear: both !important;
}

._1axiuuba {
	padding-left: 8px !important;
	padding-right: 8px !important;
	min-height: 1px !important;
	position: relative !important;
	width: 33.33333333333333% !important;
	float: left !important;
}

@media ( min-width : 744px) {
	._1axiuuba {
		width: 33.33333333333333% !important;
		float: left !important;
	}
}
