._ousp44 {
	position: relative !important;
	z-index: 20 !important;
}

._shsmsj {
	background-color: #ffffff !important;
	bottom: 0px !important;
	height: 100% !important;
	left: 0px !important;
	position: fixed !important;
	right: 0px !important;
	top: 0px !important;
	z-index: 10 !important;
	-webkit-transform: translateY(-100%) !important;
	-ms-transform: translateY(-100%) !important;
	transform: translateY(-100%) !important;
	-webkit-transition-duration: 0.2s !important;
	transition-duration: 0.2s !important;
	-webkit-transition-property: -webkit-transform, transform !important;
	-moz-transition-property: transform !important;
	transition-property: -ms-transform, -webkit-transform, transform
		!important;
	-webkit-transition-timing-function: ease-out !important;
	transition-timing-function: ease-out !important;
}

@media print {
	._shsmsj {
		display: none !important;
	}
}

._dx84z0 {
	margin-right: 8px !important;
	max-width: 456px !important;
}

._8iqo2b {
	position: relative !important;
	z-index: 5 !important;
}

._19trzwd {
	background: #ffffff !important;
	box-shadow: 0 1px 0 #EBEBEB !important;
	-webkit-transition-duration: 200ms !important;
	transition-duration: 200ms !important;
	-webkit-transition-property: background, box-shadow !important;
	-moz-transition-property: background, box-shadow !important;
	transition-property: background, box-shadow !important;
	-webkit-transition-timing-function: ease-out !important;
	transition-timing-function: ease-out !important;
	width: 100% !important;
}

@media print {
	._19trzwd {
		box-shadow: none !important;
	}
}

._hgs47m {
	display: table !important;
	width: 100% !important;
	border-spacing: 0px !important;
}

._ni9axhe {
	display: table-cell !important;
	vertical-align: middle !important;
}

._10ejfg4u {
	display: table-cell !important;
	width: 100% !important;
	vertical-align: middle !important;
}

._5nim5h {
	display: table-cell !important;
	height: 64px !important;
	position: relative !important;
	text-align: center !important;
	text-decoration: none !important;
	-webkit-transition: 0.25s color !important;
	-moz-transition: 0.25s color !important;
	transition: 0.25s color !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
	vertical-align: middle !important;
	white-space: nowrap !important;
}

@media ( min-width : 744px) {
	._5nim5h {
		height: 80px !important;
	}
}

._36rlri {
	display: inline-block !important;
}

._iiid5y {
	color: #FF5A5F !important;
	display: inline-block !important;
	vertical-align: middle !important;
	font-size: 34px !important;
	-webkit-transition: 0.25s color !important;
	-moz-transition: 0.25s color !important;
	transition: 0.25s color !important;
}

@media ( max-width : 743px) {
	._iiid5y {
		font-size: 34px !important;
		left: 45% !important;
	}
}

._3n7658 {
	color: #767676 !important;
	display: inline-block !important;
	font-size: 9px !important;
	margin-left: 8px !important;
	-webkit-transition: 1s color !important;
	-moz-transition: 1s color !important;
	transition: 1s color !important;
}

@media print {
	._3n7658 {
		display: none !important;
	}
}

._1g2dfiu {
	display: table-cell !important;
}

._1gbvotfo {
	display: table-cell !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	background: none !important;
	border: none !important;
	padding: 0px !important;
	margin: 0px !important;
}

._1gbvotfo:focus {
	outline: none !important;
}

._pawvzww {
	display: none !important;
}

@media ( min-width : 1128px) {
	._pawvzww {
		display: block !important;
	}
}

._mo78s93 {
	display: inline-block !important;
}

@media ( min-width : 1128px) {
	._mo78s93 {
		display: none !important;
	}
}

._z7e3cb {
	display: table-cell !important;
	vertical-align: middle !important;
	-webkit-transition-property: -webkit-transform, transform !important;
	-moz-transition-property: transform !important;
	transition-property: -ms-transform, -webkit-transform, transform
		!important;
	-webkit-transition-duration: 250ms !important;
	transition-duration: 250ms !important;
	-webkit-transition-timing-function: ease-in-out !important;
	transition-timing-function: ease-in-out !important;
}

@media ( prefers-reduced-motion ) {
	._z7e3cb {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		transition: none !important;
	}
}

@media ( min-width : 1128px) {
	._17ctt5 {
		display: none !important;
	}
}

._cfvh61 {
	display: inherit !important;
}

@media print {
	._cfvh61 {
		display: none !important;
	}
}
