._8l0rv2k {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC" !important;
    font-size: 12px !important;
    font-weight: 800 !important;
    line-height: 1.3333333333333333em !important;
    color: #484848 !important;
}
._1hkka7 {
    position: absolute !important;
    bottom: 8px !important;
    right: 8px !important;
    padding: 2px 8px 4px 8px !important;
    border-radius: 4px !important;
}